{% extends 'base.html' %}

{% block content %}
    <div class="py-4 container">
        <form action="/"  method="POST">
            {% csrf_token %}
            <div class="row py-1">
                <div class="col-md-2">
                    Miasto wylotu:
                </div>
                <div class="col-md-3">
                    <select class="browser-default custom-select" name="miasto_wylotu">
                        <option value="WAW">Warszawa</option>
                    </select>
                </div>
            </div>
            <div class="row py-1">
                <div class="col-md-2">
                    Docelowe miasto:
                </div>
                <div class="col-md-3">
                    <select class="browser-default custom-select" name="docelowe_miasto">
                        <option value="ALL">Wszystkie</option>
                    </select>
                </div>
            </div>

            <div class="row py-1">
                <div class="col-md-4">
                    Zakres możliwej daty wylotu:
                </div>
            </div>
            <div class="row py-1">
                <div class="col-md-1">
                    od:
                </div>
                <div class="col-md-3">
                    <div class='input-group date datepicker'>
                        <input name="data_wylotu_od" type='text' class="form-control" />
                        <span class="input-group-addon">
		                        <span class="glyphicon glyphicon-calendar"></span>
		                    </span>

                    </div>
                </div>
                <div class="col-md-1">
                    do:
                </div>
                <div class="col-md-3">
                    <div class='input-group date datepicker'>
                        <input name="data_wylotu_do" type='text' class="form-control" />
                        <span class="input-group-addon">
		                        <span class="glyphicon glyphicon-calendar"></span>
		                    </span>
                    </div>
                </div>
            </div>
            <div class="row py-1">
                <div class="col-md-4">
                    Zakres możliwej daty powrotu:
                </div>
            </div>
            <div class="row py-1">
                <div class="col-md-1">
                    od:
                </div>
                <div class="col-md-3">
                    <div class='input-group date datepicker'>
                        <input name="data_powrotu_od" type='text' class="form-control" />
                        <span class="input-group-addon">
		                        <span class="glyphicon glyphicon-calendar"></span>
		                    </span>

                    </div>
                </div>
                <div class="col-md-1">
                    do:
                </div>
                <div class="col-md-3">
                    <div class='input-group date datepicker'>
                        <input name="data_powrotu_do" type='text' class="form-control" />
                        <span class="input-group-addon">
		                        <span class="glyphicon glyphicon-calendar"></span>
		                    </span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
{% endblock content %}
{% block additional_js %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
    <script >
        $(function () {
            $('.datepicker').datepicker({
                format: "dd/mm/yyyy",
                autoclose: true,
                todayHighlight: true,
                showOtherMonths: true,
                selectOtherMonths: true,
                autoclose: true,
                changeMonth: true,
                changeYear: true,
                orientation: "button"
            });
        });
    </script>
{% endblock additional_js %}